body {
    font-family: "Questrial";
    margin: 0;
    color: #c2cfd7;
}

h1, h2, h3 {
    font-family: "Montserrat";
    text-transform: uppercase;
    margin: 0;
}

/* Start Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 170px;
    padding: 36px 0;
    align-items: center;
}

.navbar__hamburger {
    display: none;
}

.navbar__logo {
    width: 186px;
    height: 35px;
}

.navbar__link, .gallery__link {
    padding: 12px 26px;
    text-decoration: none;
    color: #707070;
    letter-spacing: 0.1em;
}

.navbar__link:hover, .gallery__link:hover {
    background-color: #ff5672;
    color: white;
}

.navbar__nav {
    display: flex;
    align-items: center;
}

.navbar__link:last-child:hover {
    background: unset;
}

/* Mobile Navbar */

@media (max-width: 1100px) {
    .navbar {
        justify-content: space-around;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }

    .navbar__link:hover {
        width: 100%;
    }

    .navbar__nav.navbar__nav--mobile {
        width: 100%;
        text-align: center;
        transform: scale(1);
        opacity: 1;
    }

    .navbar__nav {
        display: flex;
        flex-direction: column;
        background: white;
        height: 100%;
        width: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: scale(0);
        opacity: 0;
        margin-top: 107px;
        z-index: 3;
    }

    .navbar__hamburger {
        display: block;
        background-color: white;
        border: 0px;
    }

    .navbar .hamburger.is-active .hamburger-inner,
    .navbar .hamburger.is-active .navbar .hamburger-inner::before,
    .navbar .hamburger.is-active .hamburger-inner::after {
        color: #fc758c;
    }

    .navbar .hamburger-inner, .navbar .hamburger-inner::before, .navbar .hamburger-inner::after {
        color: #fc758c;
    }
}

/* End Navbar */

/* Banner */
.banner {
    background: #fc758c;
    text-align: center;
    height: 362px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 546px;
    color: white;
}

.banner__desc {
    max-width: 692px;
    letter-spacing: 0.2em;
}

.banner__title {
    letter-spacing: 0.3em;
}

.banner__button, .gallery__button {
    background: white;
    border: 0;
    margin-top: 42px;
    width: 172px;
    height: 42px;
    color: #fc758c;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
}

.banner__button {
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 765px) {
    .banner {
        padding: 0 7px;
        min-height: 360px;
    }

    .banner__title {
        font-size: 1.3rem;
    }
}
/* End Banner */

/* start main content */
.main-content {
    display: flex;
    justify-content: center;
    padding: 55px 0 0;
}

@media (max-width: 765px) {
    .main-content {
        padding: 19px 7px 0;
    }
}
/* End main content */

/* Start Galleria */
.gallery__button {
    letter-spacing: 0.1em;
}

.gallery__photo {
    position: relative;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gallery__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery__tabs {
    display: flex;
    justify-content: center;
    margin: 54px 0 68px;
}

.gallery__grid {
   column-count:3;
   column-gap:5px;
   max-width: 1172px;
   line-height:0;
}

.gallery__grid img {
    width: 100% !important;
    margin-bottom:5px; /* to match column gap */
}

.gallery__button {
    background-color: #ff5672;
    color: white;
    margin: 36px auto 76px;
    text-transform: capitalize;
}

.gallery__overlay {
    width: 0;
    height: 0;
    overflow: hidden;
}
.gallery__photo:hover .gallery__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    color: white;
    position: absolute;
    z-index: 20;
    top: 20px;
    left: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    transition: .5s ease;
    background-color:#fe667f;;  
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gallery__overlay span {
    font-family: 'MontserratSemiBold';
    border-bottom: 2px solid white;
    padding: 23px;
}

.gallery__overlay p {
    text-transform: capitalize;
    height: 12px;
    margin: 24px 0;
}

@media (max-width: 765px) {
    .gallery__tabs {
        margin: 15px 0 25px;
    }
}

@media (max-width: 560px) {
    .gallery__overlay {
        font-size: 0.75rem;
    }
}

@media (max-width: 432px) and (min-width: 400px) {
    .gallery__overlay {
        font-size: 0.45rem;
    }
}

/* Mobile Gallery */

@media (max-width: 800px) {
    .gallery__tabs {
        flex-direction: column;
    }

    .gallery__grid {
        column-count: 2;
    }
 }

@media (max-width: 400px) {
    .gallery__grid {
        column-count: 1;
    }
}

/*  End Galleria  */

/* Footer */
.foot {
    text-align: center;
}

.foot__social {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    gap: 17px;
    padding: 0;
}

.foot__social li {
    list-style: none;
    display: inline-block;
    gap: 12px;
}

.foot__copy {
    text-transform: capitalize;
    letter-spacing: 0.2em;
    margin-bottom: 50px;
}

.foot__copy span {
    color: red;
}
/* 
End Footer */